*{
	margin:0px;
	padding:0px;
}
body{
	width:100%;
	height:100%;
	background:#ebebeb;
}
#menu-wrap{
	width:900px;
	font-family: 'Arial','Nimbus Sans L',sans-serif;
	height:50px;
	position:absolute;
	left:50%;
	margin-left:-450px;
	padding-top: 34px;
	background:#fff;
	z-index: 1111;
}
#menu-wrap h2{
	padding-top:11px;
	padding-bottom: 12px;
	background: #972e2e;
	font-size: 23px;
	color:#fff;
	padding-left:20px;
	padding-right:10px;
	margin-left: -20px;
	float:left;
}
#menu-wrap ul{
	list-style:none;
}
#menu-wrap li{
	float:right;
	margin-right:10px;
}
#menu-wrap li a{
	padding-left:3px;
	padding-right:3px;
	padding-top:15px;
	color:#000;
	height:35px;
	text-decoration:none;
	display:block;
}
#menu-wrap li a:hover{
	background:#f3f3f3;
	color:#333;
}
#page_wrap{
	width:880px;
	font-family: 'Arial','Nimbus Sans L',sans-serif;
	position:absolute;
	left:50%;
	margin-left:-450px;
	margin-top: 84px;
	padding:30px 10px 10px 10px;
	background:#fff;
	z-index: 0;
}
#page_wrap h1{
	font-size:21px;
	color:#000;
	margin-left:5px;
	margin-bottom:10px;
}
#page_wrap ul{
	list-style:none;
	padding:-bottom:10px;
}
#page_wrap ul:first-child{
	padding-bottom:40px;
	text-align:center;
}
#page_wrap ul li{
	float:left;
	display:block;
	font-size:15px;
	color:#000;
	min-height:40px;
	width:146px;
	text-shadow: 1px 1px 1px #999;
	text-align:center;
}
#page_wrap ul li.name{
	text-align:left;
	width:146px;
	margin-left:10px;
}
#page_wrap ul li.group{
	width:96px;
}
#page_wrap ul li.build{
	width:86px;
}
#page_wrap ul li.world{
	width:106px;
}
#page_wrap ul li.ip{
	width:126px;
}
#page_wrap ul li.hand{
	width:86px;
}
#page_wrap ul li.actions{
	width:196px;
}
#page_wrap ul li.actions a{
	color:#144564;
	margin-right:5px;
	text-decoration:none;
}
#page_wrap ul li.actions_i{
	width:206px;
}
#page_wrap ul li.actions_i a{
	color:#144564;
	margin-right:5px;
	text-decoration:none;
}
#page_wrap ul li.actions_i a:hover{
	color:#d4d4d4;
}
#page_wrap a.link_hide{
	color:#65acdb;
	margin-right:5px;

	text-decoration:none;
}
#page_wrap .back_link{
	width:800px;
	display:block;
	height:20px;
	padding-top:20px;
	padding-bottom:15px;
	text-align:right;
}
#page_wrap .give_link{
	width:820px;
	margin-left:30px;
	display:block;
	height:60px;
}
#page_wrap .link_give{
	padding-left:10px;
	color:#144564;
	margin-right:5px;
	text-decoration:none;
}
#page_wrap #item_complete{
	padding:3px;
	padding-left:6px;
	font-size:18px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	width:200px;
	letter-spacing: 2px;
	color:#144564;
	border-radius: 6px;
	border:1px solid #c6e0f9;
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#f5f9fd), to(#c6e0f9), color-stop(1,#c6e0f9));
}
.input_text{
	padding:3px;
	padding-left:6px;
	font-size:18px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	width:200px;
	letter-spacing: 2px;
	color:#000;
	border-radius: 6px;
	border:1px solid #e3e3e3;
	background:#f6f6f6;
}
#page_wrap label span{
	padding-right:5px;
	padding-left:10px;
	font-size:12px;
	color:#000;
	vertical-align: middle;
}
#page_wrap #item_amount{
	padding:3px;
	padding-left:6px;
	font-size:18px;
	text-shadow: 1px 1px 1px #093e6f;
	border-radius: 6px;
	-moz-border-radius: 6px;
	width:60px;
	letter-spacing: 2px;
	color:#65acdb;
	border-radius: 6px;
	border:1px solid #c6e0f9;
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#f5f9fd), to(#c6e0f9), color-stop(1,#c6e0f9));
}
.button{
	margin-right:20px;
	border:1px solid #144564;
	border-radius: 6px;
	-moz-border-radius: 6px;
	color:#fff;
	float:right;
	padding:7px;
	padding-left:15px;
	padding-right:15px;
	cursor:pointer;
	background: #144564;
}
.over_html_h1{
	float:left;
	color:#65acdb;
	margin-left:5px;
	text-shadow: 1px 1px 1px #ccc;
	text-decoration:none;
}
div.over_html_row_wrap{
	width:480px;
	float:left;
	margin:3px;
	padding:5px;
	margin-top:10px;
	color:#65acdb;
	text-shadow: 1px 1px 1px #aaa;
	text-decoration:none;
	border:#f0f0f0 1px solid;
}
span.over_html_row{
	display:block;
	width:190px;
	float:left;
	text-align:right;
	vertical-align: middle;
	padding-right:10px;
}
span.over_html_row span{
	font-size:12px;
	text-shadow:none;
}
span.input_area{
	border-left:#f0f0f0 1px solid;
	float:left;
	display:block;
	padding-left:5px;
}
#backup_wrap table {
	width: 98%;
}
#backup_wrap table th{
	padding:.3em 1em;
	border-bottom: 1px solid #999;
	text-align: center;
}

#backup_wrap table td {
	color:#333;
	padding:.3em 1em;
	text-align:center;
	border-bottom: 1px solid #ddd;
}
#backup_wrap table td:last-child {
	color:#333;
	padding:.3em 1em;
	text-align:center;
	border-bottom: 1px solid #ddd;
}